doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block styles
      link(rel="stylesheet", href="/stylesheets/w3.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
      link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
      link(rel='stylesheet', href='/stylesheets/style.css')

  body.w3-light-grey
    block content
